
@import models.User
@(title: String, maybeUser: Optional[User])(content: Html)
<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
        <link href='@routes.Assets.versioned("css/freelancer.min.css")' rel="stylesheet">
        <link href='@routes.Assets.versioned("css/bootstrap.min.css")' rel="stylesheet">

            <!-- The Project core CSS file -->
        <link href='@routes.Assets.versioned("css/style.css")' rel="stylesheet" >
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
        !-- Custom Fonts -->
        <link href='@routes.Assets.versioned("vendor/font-awesome/css/font-awesome.min.css")' rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

        <link rel="stylesheet" href='@routes.Assets.versioned("/css/reset.css")'> <!-- CSS reset -->
        <script src='@routes.Assets.versioned("javascripts/modernizr.js")'></script> <!-- Modernizr -->
        <meta charset="utf-8">
        <meta name="description" content="Pagina para el monitoreo de pacientes">
        <meta name="author" content="Carlos Eduardo González Álvarez">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>

    </head>
    <body>
        <header style="height: 100px">
            <a href="@routes.Application.index()">
                <div class="cd-logo">
                    <div class="col-md-2">
                        <img src="https://s3.mzstatic.com/us/r30/Purple/v4/fb/5c/44/fb5c44dc-ba5d-b63e-1caf-5e2fdd009b0b/mzl.deqxayva.png" alt="Logo">
                    </div>
                    <div class="col-md-2">
                        <span class="logo-font">Cardio<span class="text-default">Pal</span></span>
                    </div>
                </div>
            </a>
            <nav class="navbar navbar-right" role="navigation" style = "font-size: 20px; margin-right: 20px; margin-top:15px">
                    <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                    <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li><a href="@controllers.routes.PacienteController.read()">Mis Pacientes</a></li>
                        <li><a href="@controllers.routes.PacienteController.readCitas()">Organizador de Citas</a></li>
                        <li class="dropdown notifications-menu">
                                <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                        <!-- Inner Menu: contains the notifications -->
                                    <ul class="menu">
                                        <li><!-- start notification -->
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                            </a>
                                        </li>
                                            <!-- end notification -->
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <li><a href="#"></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span> 
                                <strong>ce.gonzalez13</strong>
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li style="color:black">
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <p class="text-center">
                                                    <span class="glyphicon glyphicon-user icon-size"></span>
                                                </p>
                                            </div>
                                            <div class="col-lg-8">
                                                <p class="text-left"><strong>ce.gonzalez13</strong></p>
                                                <p style="font-size: 12px"><strong>Email: ce.gonzalez13@@uniandes.edu.co</strong></p>

                                                <p class="text-left">
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a href="@controllers.routes.AuthController.logOut()" class="btn btn-danger btn-block">Cerrar Sesion</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>

            <a href="#0" class="cd-nav-trigger">Menu<span></span></a>
        </header>

        <main style="margin-top: 80px;">
        @content
        </main>
            <!-- /.container -->
            <!-- Placed at the end of the document so the pages load faster -->
            <!-- Jquery and Bootstap core js files -->
        <script src='@routes.Assets.versioned("javascripts/jquery-3.2.1.min.js")'></script>

        <script src='@routes.Assets.versioned("javascripts/main.js")'></script> <!-- Resource jQuery -->

        <!-- Plugin JavaScript -->
        <script src='@routes.Assets.versioned("javascripts/bootstrap.min.js")'></script>

            <!-- Contact Form JavaScript -->
        <script src='@routes.Assets.versioned("javascripts/jqBootstrapValidation.js")'></script>
        <script src='@routes.Assets.versioned("javascripts/contact_me.js")'></script>

            <!-- Theme JavaScript -->
        <script src='@routes.Assets.versioned("javascripts/freelancer.min.js")'></script>
        <script>

                $(document).ready(function() {
                    var date = new Date();
                    var d = date.getDate();
                    var m = date.getMonth();
                    var y = date.getFullYear();

                    /*  className colors

                     className: default(transparent), important(red), chill(pink), success(green), info(blue)

                     */


                    /* initialize the external events
                     -----------------------------------------------------------------*/

                    $('#external-events div.external-event').each(function() {

                        // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
                        // it doesn't need to have a start or end
                        var eventObject = {
                            title: $.trim($(this).text()) // use the element's text as the event title
                        };

                        // store the Event Object in the DOM element so we can get to it later
                        $(this).data('eventObject', eventObject);

                        // make the event draggable using jQuery UI
                        $(this).draggable({
                            zIndex: 999,
                            revert: true,      // will cause the event to go back to its
                            revertDuration: 0  //  original position after the drag
                        });

                    });


                    /* initialize the calendar
                     -----------------------------------------------------------------*/

                    var calendar =  $('#calendar').fullCalendar({
                        header: {
                            left: 'title',
                            center: 'agendaDay,agendaWeek,month',
                            right: 'prev,next today'
                        },
                        editable: true,
                        firstDay: 1, //  1(Monday) this can be changed to 0(Sunday) for the USA system
                        selectable: true,
                        defaultView: 'month',

                        axisFormat: 'h:mm',
                        columnFormat: {
                            month: 'ddd',    // Mon
                            week: 'ddd d', // Mon 7
                            day: 'dddd M/d',  // Monday 9/7
                            agendaDay: 'dddd d'
                        },
                        titleFormat: {
                            month: 'MMMM yyyy', // September 2009
                            week: "MMMM yyyy", // September 2009
                            day: 'MMMM yyyy'                  // Tuesday, Sep 8, 2009
                        },
                        allDaySlot: false,
                        selectHelper: true,
                        select: function(start, end, allDay) {
                            var title = prompt('Event Title:');
                            if (title) {
                                calendar.fullCalendar('renderEvent',
                                        {
                                            title: title,
                                            start: start,
                                            end: end,
                                            allDay: allDay
                                        },
                                        true // make the event "stick"
                                );
                            }
                            calendar.fullCalendar('unselect');
                        },
                        droppable: true, // this allows things to be dropped onto the calendar !!!
                        drop: function(date, allDay) { // this function is called when something is dropped

                            // retrieve the dropped element's stored Event Object
                            var originalEventObject = $(this).data('eventObject');

                            // we need to copy it, so that multiple events don't have a reference to the same object
                            var copiedEventObject = $.extend({}, originalEventObject);

                            // assign it the date that was reported
                            copiedEventObject.start = date;
                            copiedEventObject.allDay = allDay;

                            // render the event on the calendar
                            // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
                            $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

                            // is the "remove after drop" checkbox checked?
                            if ($('#drop-remove').is(':checked')) {
                                // if so, remove the element from the "Draggable Events" list
                                $(this).remove();
                            }

                        },

                        events: [
                            {
                                title: 'All Day Event',
                                start: new Date(y, m, 1)
                            },
                            {
                                id: 999,
                                title: 'Repeating Event',
                                start: new Date(y, m, d-3, 16, 0),
                                allDay: false,
                                className: 'info'
                            },
                            {
                                id: 999,
                                title: 'Repeating Event',
                                start: new Date(y, m, d+4, 16, 0),
                                allDay: false,
                                className: 'info'
                            },
                            {
                                title: 'Meeting',
                                start: new Date(y, m, d, 10, 30),
                                allDay: false,
                                className: 'important'
                            },
                            {
                                title: 'Lunch',
                                start: new Date(y, m, d, 12, 0),
                                end: new Date(y, m, d, 14, 0),
                                allDay: false,
                                className: 'important'
                            },
                            {
                                title: 'Birthday Party',
                                start: new Date(y, m, d+1, 19, 0),
                                end: new Date(y, m, d+1, 22, 30),
                                allDay: false,
                            },
                            {
                                title: 'Click for Google',
                                start: new Date(y, m, 28),
                                end: new Date(y, m, 29),
                                url: 'http://google.com/',
                                className: 'success'
                            }
                        ],
                    });


                });

        </script>
    </body>
</html>