@(title:String, pacientes:List[Paciente])

@main(title,null){
    <div class="span6">
        <h1 class="muted">Listado de Pacientes</h1>
    </div>
    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box no-header clearfix">
                    <div class="main-box-body clearfix">
                        <div class="table-responsive">
                            <table class="table user-list">
                                <thead>
                                    <tr>
                                        <th><span>User</span></th>
                                        <th><span>Created</span></th>
                                        <th class="text-center"><span>Última medición</span></th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ul>
                                    @for(paciente <- pacientes) {
                                    <tr>
                                        <td>
                                            <a href="@controllers.routes.PacienteController.get({paciente.getId()}.longValue())" style="display:block;height: 100%" class="table-link">
                                            <img src="http://bootdey.com/img/Content/user_1.jpg" alt="">
                                            <a href="#" class="user-link">@paciente.getId()</a>
                                            <span class="user-subhead">@paciente.getNombres() @paciente.getApellidos()</span>
                                            </a>
                                        </td>
                                        <td>@Calendar.getInstance().getTime()</td>
                                        <td class="text-center">
                                            <span class="label label-default">pending</span>
                                        </td>
                                        <td style="width: 20%;">
                                            <a href="#" class="table-link">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a href="#" class="table-link danger">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                                    }
                                    </ul>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <a href="@controllers.routes.PacienteController.formulario()" class="btn btn-info" role="button">Crear Paciente nuevo</a>
}